# See https://help.github.com/ignore-files/ for more about ignoring files.
.env
node_modules
/.vscode
/coverage
client/node_modules
server/node_modules
client/.env
server/.env
server/ssl
# misc
.DS_Store
npm-debug.log*
server/sessions
deploy.sh
server/image.tar
server/dist